@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');

body {
background-color: black;
}

.one{
  display: flex;
  width: 25vw;
  height: 40vh;
  justify-content: space-around;
  margin: 0;

  color: #fff;
  font-size: 26px;
  font-family: 'helvetica', sans-serif;
  letter-spacing: -2px;
  flex-direction: column-reverse;
  align-items: stretch;
  position:absolute; right:650px; top:350px;
}

.two{
  display: flex;
  width: 25vw;
  height: 40vh;
  justify-content: space-around;
  margin: 0;
 
  color: #fff;
  font-size: 26px;
  font-family: 'helvetica', sans-serif;
  letter-spacing: -2px;
  flex-direction: column-reverse;
  align-items: stretch;
  position:absolute; right:60px; top:130px;
}


.three{
  display: flex;
  width: 25vw;
  height: 40vh;
  justify-content: space-around;
  margin: 0;
  
  color: #fff;
  font-size: 26px;
  font-family: 'helvetica', sans-serif;
  letter-spacing: -2px;
  flex-direction: column-reverse;
  align-items: stretch;
  position:absolute; right:-250px; top:130px;
}
.library {
    color: white;

    font-family: 'helvetica', sans-serif;
    font-size: 36px;
}

.chapter {
    font-family: 'Pinyon Script', cursive; 
    font-size: 106px;
    color: white
}

.para{
  animation: glitch 1s linear infinite;
}


#scroll-container {
  border: 3px solid rgb(0, 0, 0);
  border-radius: 5px;
  overflow: hidden;
  width: 41000%;
  height: 10000px;
  
  position:absolute;
  
}

#scroll-text {
  /* animation properties */
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  
  -moz-animation: my-animation 20s linear infinite;
  -webkit-animation: my-animation 20s linear infinite;
  animation: my-animation 20s linear infinite;
  color: white;
  font-family: 'Pinyon Script', cursive;   
   position:absolute; 
  position:absolute;  left:0px; top:-70px;
  font-size: 30px;
   white-space: nowrap;
  margin-top:50px !important;
}


@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.para:before,
.para :after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.para:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.para:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }

 